{{ partial "header.html" . }}

<section class="pd-20 content max-tablet">
  <article>
    <header>
      <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
      <p>
      <time datetime={{ .PublishDate }}>
        {{ .PublishDate.Format "January 2, 2006"}} 
      </time>
      |
      <time>
        {{.ReadingTime}}
      </time> minute read
      </p>
    </header>

    {{ .Content }}
  </article>

  <div id=links>
    {{ if .PrevInSection }}
    <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
    <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}


